body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f0f0f0;
  margin: 0;
  padding: 0;
}
h1 {
  margin: 20px 0;
  color: purple;
  font-style: italic;
}
.choices {
  margin: 20px 0;
}
button {
  font-size: 18px;
  padding: 10px 20px;
  margin: 10px;
  cursor: pointer;
  border-radius: 20px;
}
.result {
  margin-top: 20px;
  font-size: 22px;
  font-weight: bold;
}
.scoreboard {
  margin-top: 20px;
  font-size: 20px;
}

button:hover{
  box-shadow: 0px 10px 7px black;
}